<h1>Questions</h1>

<p><a href="/new_question">Add a New Question</a></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
    <tr>
          <td><a href="/questions/<%= question.id %>">Show</a>
        </td>
      <td><a href="/questions/<%= question.id %>/edit">Edit</a></td>
      <td><a href="/questions/<%= question.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

