<form action="/grade_bahai">
<div class="location">
  <h5>1 point (True or False)</h5>
  <div class="question">The first month of the Baha'i year is called Baha.</div>
<div>
    <ul>
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">True</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">False</label><br/>
  </ul>
<div class="question">Naw Ruz marks the end of Kwanzaa.</div>
      <ul>
<input type="radio" name="q2" value="a" id="q2a"><label for="q2a">True</label><br/>
<input type="radio" name="q2" value="b" id="q2b"><label for="q2b">False</label><br/>

    </ul>
  <div class="question">Kwanzaa is one of the most of the important Baha'i holidays.</div>
      <ul>
<input type="radio" name="q3" value="a" id="q3a"><label for="q3a">True</label><br/>
<input type="radio" name="q3" value="b" id="q3b"><label for="q3b">False</label><br/>
  </ul>
  <div class="question">Baha'u'llah was born in the Persian city of Tehran.</div>
      <ul>
<input type="radio" name="q4" value="a" id="q4a"><label for="q4a">True</label><br/>
<input type="radio" name="q4" value="b" id="q4b"><label for="q4b">False</label><br/>

    </ul>
        
  <div class="question">The month of fasting is called Ala.</div>
                <div>

      <ul>
<input type="radio" name="q5" value="a" id="q5a"><label for="q5a">True</label><br/>
<input type="radio" name="q5" value="b" id="q5b"><label for="q5b">False</label><br/>

    </ul>
        </div>

  <div class="question">The Baha'i faith originated from Hinduism.</div>
        <div>
      <ul>
<input type="radio" name="q6" value="a" id="q6a"><label for="q6a">True</label><br/>
<input type="radio" name="q6" value="b" id="q6b"><label for="q6b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">The Baha'i believe in one government for the whole world.</div>
        <div>
      <ul>
<input type="radio" name="q7" value="a" id="q7a"><label for="q7a">True</label><br/>
<input type="radio" name="q7" value="b" id="q7b"><label for="q7b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">The Baha'i believe that all nonbeliievers will be banished to the depths of hell for all eternity.</div>
        <div>
      <ul>
<input type="radio" name="q8" value="a" id="q8a"><label for="q8a">True</label><br/>
<input type="radio" name="q8" value="b" id="q8b"><label for="q8b">False</label><br/>

    </ul>
        </div>
  <div class="question">The Baha'i believe that there are two gods, one male and one female </div>
        <div>
      <ul>
<input type="radio" name="q9" value="a" id="q9a"><label for="q9a">True</label><br/>
<input type="radio" name="q9" value="b" id="q9b"><label for="q9b">False</label><br/>

    </ul>
        </div>
  <div class="question">The Baha'i believe that god(s) are/is human-like.</div>
        <div>
      <ul>
<input type="radio" name="q10" value="a" id="q10a"><label for="q10a">True</label><br/>
<input type="radio" name="q10" value="b" id="q10b"><label for="q10b">False</label><br/>

    </ul>
        </div>
    </div>

 <h5>2 points (Multiple Choice)</h5>
  <div class="question">Abdu'l-Bahá' was Baha'u'llah's:</div>
    <ul>
<input type="radio" name="q11" value="a" id="q11a"><label for="q11a">Son</label><br/>
<input type="radio" name="q11" value="b" id="q11b"><label for="q11b">Nephew</label><br/>
<input type="radio" name="q11" value="c" id="q11c"><label for="q11c">Uncle</label><br/>
<input type="radio" name="q11" value="d" id="q11d"><label for="q11d">Father</label><br/>
  </ul>

      <div class="question">The Baha'i headquarters are located in which city?</div>
    <ul>
<input type="radio" name="q12" value="a" id="q12a"><label for="q12a">Durán, Ecuador</label><br/>
<input type="radio" name="q12" value="b" id="q12b"><label for="q12b">Aurora, Colorado</label><br/>
<input type="radio" name="q12" value="c" id="q12c"><label for="q12c">Shah Alam, Malaysia</label><br/>
<input type="radio" name="q12" value="d" id="q12d"><label for="q12d">Haifa, Israel</label><br/>
  </ul>

     <div class="question">Which of these is NOT one of the main priciples of the Baha'i faith?</div>
<ul>
<input type="radio" name="q13" value="a" id="q13a"><label for="q13a">Equality for men and women</label><br/>
<input type="radio" name="q13" value="b" id="q13b"><label for="q13b">The oneness of mankind</label><br/>
<input type="radio" name="q13" value="c" id="q13c"><label for="q13c">A universal language</label><br/>
<input type="radio" name="q13" value="d" id="q13d"><label for="q13d">Praying 3 times a day, once after each meal.</label><br/>
  </ul>

<div class="question">The Baha'i believe science should be:</div>
<ul>
<input type="radio" name="q14" value="a" id="q14a"><label for="q14a">Seperate from religion</label><br/>
<input type="radio" name="q14" value="b" id="q14b"><label for="q14b">In harmony with religion</label><br/>
<input type="radio" name="q14" value="c" id="q14c"><label for="q14c">Kept, as long as it agrees with religion</label><br/>
<input type="radio" name="q14" value="d" id="q14d"><label for="q14d">Be forsaken all together in favor of religion</label><br/>
</ul>

<div class="question">The Iranian government does not recognize the Baha'i as a religion but instead as (a):</div>
<ul>
<input type="radio" name="q15" value="a" id="q15a"><label for="q15a">Terrorist organization</label><br/>
<input type="radio" name="q15" value="b" id="q15b"><label for="q15b">Political organization</label><br/>
<input type="radio" name="q15" value="c" id="q15c"><label for="q15c">Anti-Muslim rebels</label><br/>
<input type="radio" name="q15" value="d" id="q15d"><label for="q15d">Communist revolutionaries</label><br/>
</ul>
    
<div class="question">Which of these character's actors is NOT a Baha'i in real life?</div>
<ul>
<input type="radio" name="q16" value="a" id="q16a"><label for="q16a">Dwight Schrute (The Office)</label><br/>
<input type="radio" name="q16" value="b" id="q16b"><label for="q16b">Moe Green (The Godfather)</label><br/>
<input type="radio" name="q16" value="c" id="q16c"><label for="q16c">Sheldon Cooper (The Big Bang Theory)</label><br/>
<input type="radio" name="q16" value="d" id="q16d"><label for="q16d">Dr. Maria Santos (CSI: Miami)</label><br/>
</ul>

<div class="question">According to the Baha'i, what is the purpose of their faith?</div>
<ul>
<input type="radio" name="q17" value="a" id="q17a"><label for="q17a">To punish all infidels</label><br/>
<input type="radio" name="q17" value="b" id="q17b"><label for="q17b">To know and love god</label><br/>
<input type="radio" name="q17" value="c" id="q17c"><label for="q17c">To convert others to the Baha'i faith</label><br/>
<input type="radio" name="q17" value="d" id="q17d"><label for="q17d">To help those in need</label><br/>
</ul>

<div class="question">The Baha'i faith was originally considered part of which other faith?</div>
<ul>
<input type="radio" name="q18" value="a" id="q18a"><label for="q18a">Islam</label><br/>
<input type="radio" name="q18" value="b" id="q18b"><label for="q18b">Hinduism</label><br/>
<input type="radio" name="q18" value="c" id="q18c"><label for="q18c">Zoroastrianism</label><br/>
<input type="radio" name="q18" value="d" id="q18d"><label for="q18d">Judaism</label><br/>
</ul>

    <div class="question">The Baha'i faith is the worlds _____ fastest growing religion.</div>
<ul>
<input type="radio" name="q19" value="a" id="q19a"><label for="q19a">1st</label><br/>
<input type="radio" name="q19" value="b" id="q19b"><label for="q19b">2nd</label><br/>
<input type="radio" name="q19" value="c" id="q19c"><label for="q19c">3rd</label><br/>
<input type="radio" name="q19" value="d" id="q19d"><label for="q19d">4th</label><br/>
</ul>

     <div class="question">How many Baha'i were executed for their religion in Iran from 1978 - 1998?</div>
<ul>
<input type="radio" name="q20" value="a" id="q20a"><label for="q20a">2</label><br/>
<input type="radio" name="q20" value="b" id="q20b"><label for="q20b">20</label><br/>
<input type="radio" name="q20" value="c" id="q20c"><label for="q20c">200</label><br/>
<input type="radio" name="q20" value="d" id="q20d"><label for="q20d">2,000</label><br/>
</ul>

    <h5>3 Points (One-Word Answers)</h5>
       <div class="question">How many principles of the Baha'i faith are there?</div> 
<input type="text" name="q21" id="q21">
       <div class="question">How many points does the Baha'i star have?</div>
<input type="text" name="q22" id="q22">
        <div class="question">Baha'u'llah was born on the 12th of which month?</div>
<input type="text" name="q23" id="q23">
        <div class="question">The Baha'i faith was said to be linked to which radical Jewish organization by Iran?</div>
<input type="text" name="q24" id="q24">         
        <div class="question">Baha'is repeat the phrase "Alláh-u-Abhá" ____ times a day.</div>
<input type="text" name="q25" id="q25">         
        <div class="question">How many children did Bahá'u'lláh have?</div>
<input type="text" name="q26" id="q26">         
        <div class="question">Which country was Bahá'u'lláh imprisoned in?</div>
<input type="text" name="q27" id="q27">         
        <div class="question">Which Baha'i leader is this? <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Bahaullah_from_miller.jpg/150px-Bahaullah_from_miller.jpg"></div>
<input type="text" name="q28" id="q28">         
        <div class="question">Which major European capital city government did Bahá'u'lláh praise?</div>
<input type="text" name="q29" id="q29">         
        <div class="question">Name one of the two states that has a Baha'i government seperate from the main U.S. one.</div>
<input type="text" name="q30" id="q30">         
  </div>
  <input type="submit">
</form>        