<form action="/grade_bricks">
<div class="location">
  <h5>1 point (True or False)</h5>
  <div class="question">Tuckpointing is the name given to the technique of destroying mortar joints.
.</div>
<div>
    <ul>
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">True</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">False</label><br/>
  </ul>
<div class="question">Sandpaper, saw and tape measure are the appropriate tools for tuckpointing.</div>
      <ul>
<input type="radio" name="q2" value="a" id="q2a"><label for="q2a">True</label><br/>
<input type="radio" name="q2" value="b" id="q2b"><label for="q2b">False</label><br/>

    </ul>
  <div class="question">When mixing the mortar, you should spread it out on cardboard to make sure it dries the correct color.</div>
      <ul>
<input type="radio" name="q3" value="a" id="q3a"><label for="q3a">True</label><br/>
<input type="radio" name="q3" value="b" id="q3b"><label for="q3b">False</label><br/>
  </ul>
  <div class="question">When tuckpointing V-shaped mortar joins, you use the point of the trowel to make the same shape</div>
      <ul>
<input type="radio" name="q4" value="a" id="q4a"><label for="q4a">True</label><br/>
<input type="radio" name="q4" value="b" id="q4b"><label for="q4b">False</label><br/>

    </ul>
        
  <div class="question">It would take you approximately 1/2-1 hours to replace a chimney brick.</div>
                <div>

      <ul>
<input type="radio" name="q5" value="a" id="q5a"><label for="q5a">True</label><br/>
<input type="radio" name="q5" value="b" id="q5b"><label for="q5b">False</label><br/>

    </ul>
        </div>

  <div class="question">If you're having trouble removing a loose brick, you should break it.</div>
        <div>
      <ul>
<input type="radio" name="q6" value="a" id="q6a"><label for="q6a">True</label><br/>
<input type="radio" name="q6" value="b" id="q6b"><label for="q6b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">When you test out the mortar on cardboard, it gets darker.</div>
        <div>
      <ul>
<input type="radio" name="q7" value="a" id="q7a"><label for="q7a">True</label><br/>
<input type="radio" name="q7" value="b" id="q7b"><label for="q7b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">You've just replaced a new brick in your chimney and the mortar has set well! The final thing you need to do is wash it down with a hose.</div>
        <div>
      <ul>
<input type="radio" name="q8" value="a" id="q8a"><label for="q8a">True</label><br/>
<input type="radio" name="q8" value="b" id="q8b"><label for="q8b">False</label><br/>

    </ul>
        </div>
  <div class="question">You use a chisel to chisel out excess concrete when bricklaying. </div>
        <div>
      <ul>
<input type="radio" name="q9" value="a" id="q9a"><label for="q9a">True</label><br/>
<input type="radio" name="q9" value="b" id="q9b"><label for="q9b">False</label><br/>

    </ul>
        </div>
  <div class="question">After setting your bricks to dry, you should cover them with tarp.</div>
        <div>
      <ul>
<input type="radio" name="q10" value="a" id="q10a"><label for="q10a">True</label><br/>
<input type="radio" name="q10" value="b" id="q10b"><label for="q10b">False</label><br/>

    </ul>
        </div>
    </div>

 <h5>2 points (Multiple Choice)</h5>
  <div class="question">How long does it take for new concrete bricks to set?</div>
    <ul>
<input type="radio" name="q11" value="a" id="q11a"><label for="q11a">2 days</label><br/>
<input type="radio" name="q11" value="b" id="q11b"><label for="q11b">4 days</label><br/>
<input type="radio" name="q11" value="c" id="q11c"><label for="q11c">7 days</label><br/>
<input type="radio" name="q11" value="d" id="q11d"><label for="q11d">14 days</label><br/>
  </ul>

      <div class="question">While repairing cracks in concrete block, you notice that the cracks are very wide and deep. How do you fill them?</div>
    <ul>
<input type="radio" name="q12" value="a" id="q12a"><label for="q12a">With pure Portland cement</label><br/>
<input type="radio" name="q12" value="b" id="q12b"><label for="q12b">With a thin grout mixture</label><br/>
<input type="radio" name="q12" value="c" id="q12c"><label for="q12c">With a thick grout mixture</label><br/>
<input type="radio" name="q12" value="d" id="q12d"><label for="q12d">With diluted Portland cement</label><br/>
  </ul>

     <div class="question">Can you paint both mortar-filled cracks and grout-filled cracks with exterior paint?</div>
<ul>
<input type="radio" name="q13" value="a" id="q13a"><label for="q13a">No, only grout filled cracks.</label><br/>
<input type="radio" name="q13" value="b" id="q13b"><label for="q13b">No, only mortar filled cracks.</label><br/>
<input type="radio" name="q13" value="c" id="q13c"><label for="q13c">No, neither.</label><br/>
<input type="radio" name="q13" value="d" id="q13d"><label for="q13d">Yes</label><br/>
  </ul>

<div class="question">How do you apply thin grout to patch a wide crack?</div>
<ul>
<input type="radio" name="q14" value="a" id="q14a"><label for="q14a"> You pour the grout into a funnel connected to rubber tubing that's held in place with a board.</label><br/>
<input type="radio" name="q14" value="b" id="q14b"><label for="q14b"> You paint it on with a brush, layer after layer.</label><br/>
<input type="radio" name="q14" value="c" id="q14c"><label for="q14c"> You use a trowel to slap the grout into place.</label><br/>
<input type="radio" name="q14" value="d" id="q14d"><label for="q14d">You dump it on and spread it out with gloved hands.</label><br/>
</ul>

<div class="question">There's a nasty pothole in your driveway and you're going to repair it. You've been advised to wear safety goggles for the job. Why?</div>
<ul>
<input type="radio" name="q15" value="a" id="q15a"><label for="q15a"> To protect your eyes when you apply fresh cement</label><br/>
<input type="radio" name="q15" value="b" id="q15b"><label for="q15b">To protect your eyes against the reflective sun rays/label><br/>
<input type="radio" name="q15" value="c" id="q15c"><label for="q15c">To protect your eyes when you chisel out the old concrete</label><br/>
<input type="radio" name="q15" value="d" id="q15d"><label for="q15d">To protect your eyes from when you drill into soft materials.</label><br/>
</ul>
    
<div class="question">What is the manufacturer's recommendation regarding the right concrete for small or large holes?</div>
<ul>
<input type="radio" name="q16" value="a" id="q16a"><label for="q16a">Gravel mix for small holes; sand mix for large ones</label><br/>
<input type="radio" name="q16" value="b" id="q16b"><label for="q16b">Sand mix for small holes; gravel mix for large ones</label><br/>
<input type="radio" name="q16" value="c" id="q16c"><label for="q16c">Gravel mix for all holes, regardless of their size</label><br/>
<input type="radio" name="q16" value="d" id="q16d"><label for="q16d">Sand mix for all holes, regardless of their size</label><br/>
</ul>

<div class="question">After applying fresh cement to fill a pothole, you smooth it with a wood cement float. How long do you do this for?</div>
<ul>
<input type="radio" name="q17" value="a" id="q17a"><label for="q17a">For 3 hours</label><br/>
<input type="radio" name="q17" value="b" id="q17b"><label for="q17b">Until no water remains on the surface</label><br/>
<input type="radio" name="q17" value="c" id="q17c"><label for="q17c">Until the cement is dry</label><br/>
<input type="radio" name="q17" value="d" id="q17d"><label for="q17d">Until the surface is filmed with water again</label><br/>
</ul>

<div class="question">You cover the fresh cement with a plastic dropcloth, but the wind is starting to pick up. What can you do to avoid blowing?</div>
<ul>
<input type="radio" name="q18" value="a" id="q18a"><label for="q18a">Put another dropcloth on top for added weight.</label><br/>
<input type="radio" name="q18" value="b" id="q18b"><label for="q18b">Weigh down the dropcloth at the edges.</label><br/>
<input type="radio" name="q18" value="c" id="q18c"><label for="q18c">Weigh down the dropcloth in the middle.</label><br/>
<input type="radio" name="q18" value="d" id="q18d"><label for="q18d"> Tape down the dropcloth with duct tape.</label><br/>
</ul>

    <div class="question">How many times a day during the curing period should you spray the fresh concrete with water?</div>
<ul>
<input type="radio" name="q19" value="a" id="q19a"><label for="q19a">Never</label><br/>
<input type="radio" name="q19" value="b" id="q19b"><label for="q19b">Once</label><br/>
<input type="radio" name="q19" value="c" id="q19c"><label for="q19c">Twice</label><br/>
<input type="radio" name="q19" value="d" id="q19d"><label for="q19d">At least four times</label><br/>
</ul>

     <div class="question">Bricks originated in:</div>
<ul>
<input type="radio" name="q20" value="a" id="q20a"><label for="q20a">China</label><br/>
<input type="radio" name="q20" value="b" id="q20b"><label for="q20b">The Middle East</label><br/>
<input type="radio" name="q20" value="c" id="q20c"><label for="q20c">America</label><br/>
<input type="radio" name="q20" value="d" id="q20d"><label for="q20d">England</label><br/>
</ul>

    <h5>3 Points (One-Word Answers)</h5>
       <div class="question">What natural disaster most affects bricks?</div> 
<input type="text" name="q21" id="q21">
       <div class="question">Bricks, on average, are largest in which Eastern Eurasian country?</div>
<input type="text" name="q22" id="q22">
        <div class="question">Banna'i bricks originated in:</div>
<input type="text" name="q23" id="q23">
        <div class="question">FAB stands for fly _____ brick.</div>
<input type="text" name="q24" id="q24">         
        <div class="question">Frank Lloyd Wright liked to use bricks from which European capital?</div>
<input type="text" name="q25" id="q25">         
        <div class="question">Bricklayers use _____ bricks for furnaces.</div>
<input type="text" name="q26" id="q26">         
        <div class="question">Bricks are most popular in which South American country?</div>
<input type="text" name="q27" id="q27">         
        <div class="question">Clinker bricks are partially _____ bricks.</div>
<input type="text" name="q28" id="q28">         
        <div class="question">Bricks were not used modernly until the _____ century.</div>
<input type="text" name="q29" id="q29">         
        <div class="question">The oldest type of brick is ____ dried brick.</div>
<input type="text" name="q30" id="q30">         
  </div>
  <input type="submit">
</form>        