<form action="/grade_divination">
<div class="location">
  <h5>1 point (True or False)</h5>
  <div class="question">Tasseomancy is the practive of telling the future using tea leaves.</div>
<div>
    <ul>
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">True</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">False</label><br/>
  </ul>
<div class="question">Fortune telling is considered a major sin by all 3 Abrahamic religions.</div>
      <ul>
<input type="radio" name="q2" value="a" id="q2a"><label for="q2a">True</label><br/>
<input type="radio" name="q2" value="b" id="q2b"><label for="q2b">False</label><br/>

    </ul>
  <div class="question">Women consult more fortune tellers than men.</div>
      <ul>
<input type="radio" name="q3" value="a" id="q3a"><label for="q3a">True</label><br/>
<input type="radio" name="q3" value="b" id="q3b"><label for="q3b">False</label><br/>
  </ul>
  <div class="question">The majority of fortune tellers do not have children.</div>
      <ul>
<input type="radio" name="q4" value="a" id="q4a"><label for="q4a">True</label><br/>
<input type="radio" name="q4" value="b" id="q4b"><label for="q4b">False</label><br/>

    </ul>
        
  <div class="question">One form of fortune telling is using a parrot to pick up tarot cards.</div>
                <div>

      <ul>
<input type="radio" name="q5" value="a" id="q5a"><label for="q5a">True</label><br/>
<input type="radio" name="q5" value="b" id="q5b"><label for="q5b">False</label><br/>

    </ul>
        </div>

  <div class="question">Anthromancy is the process of fortune telling using names.</div>
        <div>
      <ul>
<input type="radio" name="q6" value="a" id="q6a"><label for="q6a">True</label><br/>
<input type="radio" name="q6" value="b" id="q6b"><label for="q6b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">Palm reading is most popular among Asian Americans.</div>
        <div>
      <ul>
<input type="radio" name="q7" value="a" id="q7a"><label for="q7a">True</label><br/>
<input type="radio" name="q7" value="b" id="q7b"><label for="q7b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">Freebie! I predict if you pick a you'll get it right!</div>
        <div>
      <ul>
<input type="radio" name="q8" value="a" id="q8a"><label for="q8a">True</label><br/>
<input type="radio" name="q8" value="b" id="q8b"><label for="q8b">False</label><br/>

    </ul>
        </div>
  <div class="question">In Malaysia, claiming to know the future fineable by up to 1,000 USD. </div>
        <div>
      <ul>
<input type="radio" name="q9" value="a" id="q9a"><label for="q9a">True</label><br/>
<input type="radio" name="q9" value="b" id="q9b"><label for="q9b">False</label><br/>

    </ul>
        </div>
  <div class="question">A large percentage of Fortune 500 CEOs consult fortune tellers.</div>
        <div>
      <ul>
<input type="radio" name="q10" value="a" id="q10a"><label for="q10a">True</label><br/>
<input type="radio" name="q10" value="b" id="q10b"><label for="q10b">False</label><br/>

    </ul>
        </div>
    </div>

 <h5>2 points (Multiple Choice)</h5>
  <div class="question">Fortune telling is banned in:</div>
    <ul>
<input type="radio" name="q11" value="a" id="q11a"><label for="q11a">Iran</label><br/>
<input type="radio" name="q11" value="b" id="q11b"><label for="q11b">Saudi Arabia</label><br/>
<input type="radio" name="q11" value="c" id="q11c"><label for="q11c">Israel</label><br/>
<input type="radio" name="q11" value="d" id="q11d"><label for="q11d">Pakistan</label><br/>
  </ul>

      <div class="question">What form of divination is 'the science of the frontal lines'?</div>
    <ul>
<input type="radio" name="q12" value="a" id="q12a"><label for="q12a">Metoposcopy</label><br/>
<input type="radio" name="q12" value="b" id="q12b"><label for="q12b">Echoloscopy</label><br/>
<input type="radio" name="q12" value="c" id="q12c"><label for="q12c">Arnioscopy</label><br/>
<input type="radio" name="q12" value="d" id="q12d"><label for="q12d">Eilioscopy</label><br/>
  </ul>

     <div class="question">Oneiromancy is the interpretation of what?</div>
<ul>
<input type="radio" name="q13" value="a" id="q13a"><label for="q13a">Coins</label><br/>
<input type="radio" name="q13" value="b" id="q13b"><label for="q13b">Cards</label><br/>
<input type="radio" name="q13" value="c" id="q13c"><label for="q13c">Dreams</label><br/>
<input type="radio" name="q13" value="d" id="q13d"><label for="q13d">Stars</label><br/>
  </ul>

<div class="question">Phrenology is divination by inspecting what?</div>
<ul>
<input type="radio" name="q14" value="a" id="q14a"><label for="q14a">Skull Shape</label><br/>
<input type="radio" name="q14" value="b" id="q14b"><label for="q14b">Leg Shape</label><br/>
<input type="radio" name="q14" value="c" id="q14c"><label for="q14c">Palm Shape</label><br/>
<input type="radio" name="q14" value="d" id="q14d"><label for="q14d">Tongue Shape</label><br/>
</ul>

<div class="question">Which of the following is divination by use of dowsing?</div>
<ul>
<input type="radio" name="q15" value="a" id="q15a"><label for="q15a">Geomancy</label><br/>
<input type="radio" name="q15" value="b" id="q15b"><label for="q15b">Chiromancy</label><br/>
<input type="radio" name="q15" value="c" id="q15c"><label for="q15c">Tasseomancy</label><br/>
<input type="radio" name="q15" value="d" id="q15d"><label for="q15d">Rhabdomancy</label><br/>
</ul>
    
<div class="question">What is the COMMON term for divination by reading cards?</div>
<ul>
<input type="radio" name="q16" value="a" id="q16a"><label for="q16a">Card reading</label><br/>
<input type="radio" name="q16" value="b" id="q16b"><label for="q16b">Tarot</label><br/>
<input type="radio" name="q16" value="c" id="q16c"><label for="q16c">Cartomancy</label><br/>
<input type="radio" name="q16" value="d" id="q16d"><label for="q16d">Cartology</label><br/>
</ul>

<div class="question">Xenomancy is fortunetelling by studying what?</div>
<ul>
<input type="radio" name="q17" value="a" id="q17a"><label for="q17a">Your children</label><br/>
<input type="radio" name="q17" value="b" id="q17b"><label for="q17b">Your parents</label><br/>
<input type="radio" name="q17" value="c" id="q17c"><label for="q17c">Your significant other</label><br/>
<input type="radio" name="q17" value="d" id="q17d"><label for="q17d">Total strangers that randomly walk by</label><br/>
</ul>

<div class="question">The Chinese practice of 'Feng Shui' would be known by which of the following terms?</div>
<ul>
<input type="radio" name="q18" value="a" id="q18a"><label for="q18a">Aeromancy</label><br/>
<input type="radio" name="q18" value="b" id="q18b"><label for="q18b">Hydromancy</label><br/>
<input type="radio" name="q18" value="c" id="q18c"><label for="q18c">Geomancy</label><br/>
<input type="radio" name="q18" value="d" id="q18d"><label for="q18d">Pyromancy</label><br/>
</ul>

    <div class="question">Fortunetelling with water was formerly known by which of these names?</div>
<ul>
<input type="radio" name="q19" value="a" id="q19a"><label for="q19a">Ydromancy</label><br/>
<input type="radio" name="q19" value="b" id="q19b"><label for="q19b">Hydramancy</label><br/>
<input type="radio" name="q19" value="c" id="q19c"><label for="q19c">Aquamancy</label><br/>
<input type="radio" name="q19" value="d" id="q19d"><label for="q19d">Watermancy</label><br/>
</ul>

     <div class="question">Xylomancy is the art of fortunetelling with what objects?</div>
<ul>
<input type="radio" name="q20" value="a" id="q20a"><label for="q20a">Leaves</label><br/>
<input type="radio" name="q20" value="b" id="q20b"><label for="q20b">Bark</label><br/>
<input type="radio" name="q20" value="c" id="q20c"><label for="q20c">Branches</label><br/>
<input type="radio" name="q20" value="d" id="q20d"><label for="q20d">Logs</label><br/>
</ul>

    <h5>3 Points (One-Word Answers)</h5>
       <div class="question">When one gets his or her fortune told by rhabdomancy, what is the instrument used?</div> 
<input type="text" name="q21" id="q21">
       <div class="question">Fortunetelling by reading weights is called what?</div>
<input type="text" name="q22" id="q22">
        <div class="question">The art of telling fortunes by throwing dice is called what?</div>
<input type="text" name="q23" id="q23">
        <div class="question">Margaritomancy is fortunetelling using?</div>
<input type="text" name="q24" id="q24">         
        <div class="question">What is fortune telling by reading stars called?v</div>
<input type="text" name="q25" id="q25">         
        <div class="question">The most famous Armenian American reality tv star's last name is:</div>
<input type="text" name="q26" id="q26">         
        <div class="question">In necromancy, fortune is told by summoning the what?</div>
<input type="text" name="q27" id="q27">         
        <div class="question">The first card in the tarot deck is the:</div>
<input type="text" name="q28" id="q28">         
        <div class="question">The tarot card depicting a lion and a maiden is called:</div>
<input type="text" name="q29" id="q29">         
        <div class="question">Scrying determines the futer in _______ objects.</div>
<input type="text" name="q30" id="q30">         
  </div>
  <input type="submit">
</form>        