<form action="/grade">
<div class="location">
  <h5>1 point (True or False)</h5>
  <div class="question">Most Armenians are Muslim</div>
<div>
    <ul>
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">True</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">False</label><br/>
  </ul>
<div class="question">Armenian is the official language of Armenia</div>
      <ul>
<input type="radio" name="q2" value="a" id="q2a"><label for="q2a">True</label><br/>
<input type="radio" name="q2" value="b" id="q2b"><label for="q2b">False</label><br/>

    </ul>
  <div class="question">The Armenian Apostolic Church is the oldest church in the world</div>
      <ul>
<input type="radio" name="q3" value="a" id="q3a"><label for="q3a">True</label><br/>
<input type="radio" name="q3" value="b" id="q3b"><label for="q3b">False</label><br/>
  </ul>
  <div class="question">Duduk is a popular Armenian food</div>
      <ul>
<input type="radio" name="q4" value="a" id="q4a"><label for="q4a">True</label><br/>
<input type="radio" name="q4" value="b" id="q4b"><label for="q4b">False</label><br/>

    </ul>
        
  <div class="question">The Armenian Genocide started May 12, 1914</div>
                <div>

      <ul>
<input type="radio" name="q5" value="a" id="q5a"><label for="q5a">True</label><br/>
<input type="radio" name="q5" value="b" id="q5b"><label for="q5b">False</label><br/>

    </ul>
        </div>

  <div class="question">The Armenian Genocide was caused by the Russians</div>
        <div>
      <ul>
<input type="radio" name="q6" value="a" id="q6a"><label for="q6a">True</label><br/>
<input type="radio" name="q6" value="b" id="q6b"><label for="q6b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">The Ottoman Empire originated in Armenia</div>
        <div>
      <ul>
<input type="radio" name="q7" value="a" id="q7a"><label for="q7a">True</label><br/>
<input type="radio" name="q7" value="b" id="q7b"><label for="q7b">False</label><br/>

    </ul>
        </div>
  <div class="question">  <div class="question">Modern Christianity Originated in Armenia</div>
        <div>
      <ul>
<input type="radio" name="q8" value="a" id="q8a"><label for="q8a">True</label><br/>
<input type="radio" name="q8" value="b" id="q8b"><label for="q8b">False</label><br/>

    </ul>
        </div>
  <div class="question">Armenian was the tenth language to be printed on the moveable type press (in 1511 or 1512, following Latin, German, Greek, Czech, Hebrew, French, Arabic, Dutch, English,).</div>
        <div>
      <ul>
<input type="radio" name="q9" value="a" id="q9a"><label for="q9a">True</label><br/>
<input type="radio" name="q9" value="b" id="q9b"><label for="q9b">False</label><br/>

    </ul>
        </div>
  <div class="question">The Capital City of Armenia is Yerevan</div>
        <div>
      <ul>
<input type="radio" name="q10" value="a" id="q10a"><label for="q10a">True</label><br/>
<input type="radio" name="q10" value="b" id="q10b"><label for="q10b">False</label><br/>

    </ul>
        </div>
    </div>

 <h5>2 points (Multiple Choice)</h5>
  <div class="question">What was the first printed book in Armenia?</div>
    <ul>
<input type="radio" name="q11" value="a" id="q11a"><label for="q11a">Urbatagirq</label><br/>
<input type="radio" name="q11" value="b" id="q11b"><label for="q11b">Emekagirt</label><br/>
<input type="radio" name="q11" value="c" id="q11c"><label for="q11c">Mikapaqirk</label><br/>
<input type="radio" name="q11" value="d" id="q11d"><label for="q11d">Armeniadirc</label><br/>
  </ul>

      <div class="question">How do you say "hello" (formal) in Armenian?</div>
    <ul>
<input type="radio" name="q12" value="a" id="q12a"><label for="q12a">Helawv Yuer</label><br/>
<input type="radio" name="q12" value="b" id="q12b"><label for="q12b">Qirk Tukul</label><br/>
<input type="radio" name="q12" value="c" id="q12c"><label for="q12c">Barev Dzez</label><br/>
<input type="radio" name="q12" value="d" id="q12d"><label for="q12d">Rekata Omon</label><br/>
  </ul>

     <div class="question">Which of these is NOT the name of a province in Armenia?</div>
<ul>
<input type="radio" name="q13" value="a" id="q13a"><label for="q13a">Gavar</label><br/>
<input type="radio" name="q13" value="b" id="q13b"><label for="q13b">Lori</label><br/>
<input type="radio" name="q13" value="c" id="q13c"><label for="q13c">Armavir</label><br/>
<input type="radio" name="q13" value="d" id="q13d"><label for="q13d">Yerevan</label><br/>
  </ul>

<div class="question">Which of these gemstones are found locally in Yerevan?</div>
<ul>
<input type="radio" name="q14" value="a" id="q14a"><label for="q14a">Citrine</label><br/>
<input type="radio" name="q14" value="b" id="q14b"><label for="q14b">Amethyst</label><br/>
<input type="radio" name="q14" value="c" id="q14c"><label for="q14c">Sapphire</label><br/>
<input type="radio" name="q14" value="d" id="q14d"><label for="q14d">Obsidian</label><br/>
</ul>

<div class="question">Armenia is:</div>
<ul>
<input type="radio" name="q15" value="a" id="q15a"><label for="q15a">An Island</label><br/>
<input type="radio" name="q15" value="b" id="q15b"><label for="q15b">A Peninsula</label><br/>
<input type="radio" name="q15" value="c" id="q15c"><label for="q15c">An Archipelago</label><br/>
<input type="radio" name="q15" value="d" id="q15d"><label for="q15d">Landlocked</label><br/>
</ul>
    
<div class="question">Armenians are ethnically classified as:</div>
<ul>
<input type="radio" name="q16" value="a" id="q16a"><label for="q16a">Asian</label><br/>
<input type="radio" name="q16" value="b" id="q16b"><label for="q16b">Caucasian</label><br/>
<input type="radio" name="q16" value="c" id="q16c"><label for="q16c">Arab</label><br/>
<input type="radio" name="q16" value="d" id="q16d"><label for="q16d">African</label><br/>
</ul>

<div class="question">Out of Armenian's old population of 2.5 million, approximately how many were killed in the Armenian Genocide?</div>
<ul>
<input type="radio" name="q17" value="a" id="q17a"><label for="q17a">1,000,000</label><br/>
<input type="radio" name="q17" value="b" id="q17b"><label for="q17b">2,000,000</label><br/>
<input type="radio" name="q17" value="c" id="q17c"><label for="q17c">1,500,000</label><br/>
<input type="radio" name="q17" value="d" id="q17d"><label for="q17d">500,000</label><br/>
</ul>

<div class="question">Which "thank you" from another language has been adopted into Armenian?</div>
<ul>
<input type="radio" name="q18" value="a" id="q18a"><label for="q18a">"Gracias"</label><br/>
<input type="radio" name="q18" value="b" id="q18b"><label for="q18b">"Thank You"</label><br/>
<input type="radio" name="q18" value="c" id="q18c"><label for="q18c">"Spasibo"</label><br/>
<input type="radio" name="q18" value="d" id="q18d"><label for="q18d">"Merci"</label><br/>
</ul>

    <div class="question">Armenia is famous for it's:</div>
<ul>
<input type="radio" name="q19" value="a" id="q19a"><label for="q19a">Apples</label><br/>
<input type="radio" name="q19" value="b" id="q19b"><label for="q19b">Apricots</label><br/>
<input type="radio" name="q19" value="c" id="q19c"><label for="q19c">Watermelons</label><br/>
<input type="radio" name="q19" value="d" id="q19d"><label for="q19d">Oranges</label><br/>
</ul>

     <div class="question">If you are asked "Kani Tarekanes", what are they asking for?</div>
<ul>
<input type="radio" name="q20" value="a" id="q20a"><label for="q20a">Your Age</label><br/>
<input type="radio" name="q20" value="b" id="q20b"><label for="q20b">Your Money</label><br/>
<input type="radio" name="q20" value="c" id="q20c"><label for="q20c">Your Nationality</label><br/>
<input type="radio" name="q20" value="d" id="q20d"><label for="q20d">The Languages You Speak</label><br/>
</ul>

    <h5>3 Points (One-Word Answers)</h5>
       <div class="question">How do you say "hello" (informal) in Armenian?</div> 
<input type="text" name="q21" id="q21">
       <div class="question">What is the currency of Armenia?</div>
<input type="text" name="q22" id="q22">
        <div class="question">The largest lake in Armenia is lake:</div>
<input type="text" name="q23" id="q23">
        <div class="question">The official name of Armenia is The Republic Of:</div>
<input type="text" name="q24" id="q24">         
        <div class="question">To let someone know you are Armenian in Armenian, you say "I am":</div>
<input type="text" name="q25" id="q25">         
        <div class="question">The most famous Armenian American reality tv star's last name is:</div>
<input type="text" name="q26" id="q26">         
        <div class="question">Armenia is also the name of a large city in which South American country?</div>
<input type="text" name="q27" id="q27">         
        <div class="question">What year was modern Armenia founded?</div>
<input type="text" name="q28" id="q28">         
        <div class="question">What mountain range is Armenian in?</div>
<input type="text" name="q29" id="q29">         
        <div class="question">What country is closest in size to Armenia?</div>
<input type="text" name="q30" id="q30">         
  </div>
  <input type="submit">
</form>        