<h1>New Quiz</h1>

<form action="/create_quiz">
  <div>
    <label for="answer">answer</label><br />
    <input id="answer" name="answer" type="text" />
  </div>
  <div>
    <label for="score_id">score_id</label><br />
    <input id="score_id" name="score_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

