<h1>New Score</h1>

<form action="/create_score">
  <div>
    <label for="score">score</label><br />
    <input id="score" name="score" type="text" />
  </div>
  <div>
    <label for="quiz_id">quiz_id</label><br />
    <input id="quiz_id" name="quiz_id" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

