<h1>New User</h1>

<form action="/create_user">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <label for="bio">bio</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
  <div>
    <label for="password">password</label><br />
    <input id="password" name="password" type="password" />
  </div>
  <div>
    <label for="password_confirmation">password_confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
</form>

