<h1>New True Or False</h1>

<form action="/create_true_or_false">
  <div>
    <label for="answer">answer</label><br />
    <input id="answer" name="answer" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

