<h1>True Or False #<%= @true_or_false.id %></h1>

<div>
  <strong>Answer</strong>:<br />
  <p><%= @true_or_false.answer %></p>
</div>

<a href="/true_or_falses/<%= @true_or_false.id %>/edit">Edit</a> |
<a href="/true_or_falses/<%= @true_or_false.id %>/destroy">Destroy</a>
