<div>
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><center><h1>Random Knowledge Home</h1></center>
  <div>
    <% if session['username'] %>
  You're signed in, <%= session['username'] %>
    <button><a href='/sign_out'>Sign Out</a></button>
    <% else %>
      <button><a href="/login">Login</a></button>
    <% end %>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-3 armenia"><a href="/main" class="armenia-2">Armenian History</a></div>    
    <div class="col-md-3 bahai"><a href="#" class="bahai-2">The Bahá'í Faith</a></div>
    <div class="col-md-3 palm"><a href="#" class="palm-2">Palm Reading</a></div>
    <div class="col-md-3 bricks"><a href="#" class="bricks-2">Bricks</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"><h2>High Scores</h2>
    <h5>#1, User, Score, Subject</h5>
     <h5>#2, User, Score, Subject</h5>
     <h5>#3, User, Score, Subject</h5>
     <h5>#4, User, Score, Subject</h5>
     <h5>#5, User, Score, Subject</h5>
    </div>
    <div class="col-md-8"><center><h2>Your Scores</h2></center>  <center>  <h5>#1, Date, Score, Subject</h5>
     <h5>#2, Date, Score, Subject</h5>
     <h5>#3, Date, Score, Subject</h5>
     <h5>#4, Date, Score, Subject</h5>
       <h5>#5, Date, Score, Subject</h5></center>
</div>
  </div>
</div>
<div class="container"><div class="row"><div class="col-md-4"><img src="http://payload78.cargocollective.com/1/3/116386/3867836/OneTastiest_Print.jpg" height=350px width=350px></div><div class="col-md-4"><h1>User! Just got a new high score!</h1></div><div class="col-md-4"><img src="http://theinspirationroom.com/daily/print/2011/4/wwf_blue_fin_tuna_panda.jpg" width=350px height=350px></div></div></div>
-->
  </div>
