<h1>New Multiplechoice</h1>

<form action="/create_multiplechoice">
  <div>
    <label for="answer">answer</label><br />
    <input id="answer" name="answer" type="text" />
  </div>
  <div>
    <label for="content">content</label><br />
    <input id="content" name="content" type="text" />
  </div>
  <div>
    <label for="score">score</label><br />
    <input id="score" name="score" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

